.hero-section {
  background-image: url('../PhotoAsset/tips-hero-bg.png'); 
  background-repeat: no-repeat;                 
  background-size: cover;                         
  background-position: center; 
}
.text-hero {
  background-color: rgba(0, 0, 0, 0.3);
}